postgres_connection_string=jdbc:postgresql://postgres:5432/data
postgres_username=postgres
postgres_password=password
managed_memory_size=0g
security.protocol=SASL_SSL
kafka_server=pkc-z1o60.europe-west1.gcp.confluent.cloud:9092
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='{API key}' password='{API secret}';
sasl.mechanism=PLAIN
client.dns.lookup=use_all_dns_ips
session.timeout.ms=45000
